html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Write your solution here  max 1140*/
@media only screen and (min-width: 1000px) {
  #ostrich {
    top: -50px;
  }
}
